.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 75rem;
    margin: 2rem auto;
    padding: 0 1.5rem;
}
.skills-title {
  position: relative;
  display: inline-block;
  overflow: visible; 
}
.skills-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 900px;
    margin-bottom: 1.5rem;
    font-size: 1.25rem; 
    line-height: 1.5;
    color: #ebebeb;
}
.skills-para p .highlight {
    color: #d7a9e4; 
}
.skills-list {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem; 
}
.skill-section {
  background: rgba(185, 35, 225, 0.1);
  border-radius: 15px;
  padding: 1.5rem 2.5rem;
  box-shadow: 0 0 15px rgba(185, 35, 225, 0.2);
  transition: box-shadow 0.5s ease;
  margin-bottom: 0.5rem; 
}
.skill-section:hover {
  box-shadow: 0 0 25px rgba(185, 35, 225, 0.4);
}
.skill-section h2 {
  color: #a73bc5;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.skill-section ul {
  list-style-type: disc;
  padding-left: 1rem;
}
.skill-section ul li {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #dddbdb;
}
.skill-section ul li span {
  font-weight: 800;
}

/* Tablet */
@media (max-width: 1024px) { 
  .skill-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .skill-section ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  }
  .skill-section ul li {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: #dddbdb;
  }
  .skill-section ul li span {
    font-weight: bold;
  }
}

/* Small tablet / large phone */
@media (max-width: 768px) { 
  .skills-para {
    font-size: 1.25rem;
  }
  .skill-section ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  .skill-section ul li {
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
    color: #dddbdb;
  }
  .skill-section ul li span {
    font-weight: bold;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .skills-title text {
      font-size: 60px; 
  }
  .skills-para {
    margin-bottom: 1.75rem;
    line-height: 1.5;
    font-size: 1rem;
  }
  .skill-section h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .skill-section ul {
    list-style-type: disc;
    padding-left: 1rem;
  }
  .skill-section ul li {
    font-size: 1rem; 
    line-height: 1.25;
  }
  .skill-section ul li span {
    font-weight: bold;
  }
}
