* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #221722;
  color: white;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
body.menu-open {
  overflow: hidden;
}
