* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  background: #221722;
  color: white;
  /* font-family: 'outfit'; */
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
body.menu-open {
  overflow: hidden;
}
